/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  letter-spacing: 0px;
  word-spacing: -0.2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
background: -webkit-linear-gradient(70deg, #FFF810  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #63E89E 60%, #FF7EE3 60%);
background: -o-linear-gradient(70deg, #FFF810  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #63E89E 60%, #FF7EE3 60%);
background: -moz-linear-gradient(70deg, #FFF810  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #63E89E 60%, #FF7EE3 60%);
background: linear-gradient(70deg, #FFF810  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63E89E 60%, #FF7EE3 60%);
}
.btn-group button {
  background-color: white; /* white background */
  border: 1px solid#C70039; /* pink border */
  color: red; /* White text */
  padding: 30px 100px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  font-weight: bold;
  /* Make the buttons appear below each other */
  border-radius: 8px;
  width: 100%; /* Set a width if needed */
  font-size: 20px;
  transition: 0.3s;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.vertical-center {
  position: relative;
  top: 50%;
  bottom: 50%;
}
.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */

.btn-group button:hover {
  background-color: #FFC300;
}

.question {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

input[type="radio"] {
  display: none;
}

label {
    display: inline-block;
    background-color: white;
    padding: 20px 40px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

label:before {
  content: "";
  height: 70px;
  width: 50px;
  border:10px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 0px;
}

input[type="radio"]:checked + label {
  background-color: #48D1CC;
  color: black;
}

input[type="radio"]:checked + label:before {
  background-color: #C9FFE5;
  border: 4px solid black;
  width: 5px;
}

#next {
  width:70px;
  height:40px;
  color:black;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 red;
  transition: ease-out 0.3s;
  outline:none
}

#next:hover{
  box-shadow: inset 300px 0 0 0 red;
  cursor: pointer; 
  color: black ;
}

.card {
  box-shadow: 10px 10px black;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background: white;
  
}

.card label{
border: none;
justify-content: center;
padding-left: 30px 30px;
}


/* individual label attributes */

.name-label {
  margin: auto;
  padding: 10px;
}

.date-label {
margin: auto;
padding: 10px;

}

li label .message-label {
  margin-top: 50%;
  margin-left: 50%;
}

input {
  border:none;
  appearance: none;
  background: #F2F2F2;
  padding: 10px;
  border-radius: 3px;
  width: 200px;
  outline: none;
}

textarea{
padding: 5px;
top: 5rem;
}

.card button{
background:white ;
border-radius: 10px;
}

.card button:hover{
  box-shadow: inset 300px 0 0 0 red;
  cursor: pointer; 
  color: black ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}