body {
  display: flex;
  width: 200vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.card {
  width: 400px;
  background-color: white;
  padding: 20px;
  height: 350px;
  justify-content: center;
  flex-direction: row;
}

#answer-buttons .btnT {
  padding: 20px;
  margin: 20px;
}

#answer-buttons .btnF {
  padding: 20px;
  margin: 40px;
}

.starter {
  padding: 15px;
}
